/**
 * @prop --dlc-cssterminal-hem: Specify the font-size in order to calculate widths and heights (default is 10px)
 * @prop --dlc-cssterminal-content-bgcolor: The terminal's content background color (default is #323232)
 * @prop --dlc-cssterminal-header-bgcolor: The terminal's header background color (default is #f6f6f6)
 * @prop --dlc-cssterminal-bordercolor: The terminal's border color (default is #b8b8b8)
 * @prop --dlc-cssterminal-header-button-close-color: The terminal's header close button color (default is #fc645f)
 * @prop --dlc-cssterminal-header-button-minimize-color: The terminal's header close button color (default is #fdbe41)
 * @prop --dlc-cssterminal-header-button-maximize-color: The terminal's header close button color (default is #35cc4b)
 * @prop --dlc-cssterminal-font-family: The terminal's font family (default is Consolas,monaco,monospace)

 * @prop --dlc-cssterminal-primary-font-color: The terminal's primary font color, applied on shell and command texts (default is #fff)
 * @prop --dlc-cssterminal-secondary-font-color: The terminal's secondary font color, applied on result text (default is #bfbdbd)
 */

/*:host {
    --hem-default: 10px;
}*/

@function hem( $scale ) {
    $result: calc(#{$scale} * var(--dlc-cssterminal-hem, 10px) );
    @return $result;
}

//VARIABLES
$terminal-content-background-color: var(--dlc-cssterminal-content-bgcolor, #323232);
$terminal-header-background-color: var(--dlc-cssterminal-header-bgcolor,#f6f6f6);
$border-color: var(--dlc-cssterminal-bordercolor,#b8b8b8);
$terminal-header-button-close: var(--dlc-cssterminal-header-button-close-color,#fc645f);
$terminal-header-button-minimize: var(--dlc-cssterminal-header-button-minimize-color,#fdbe41);
$terminal-header-button-maximize: var(--dlc-cssterminal-header-button-maximize-color,#35cc4b);
$fontFamily: var(--dlc-cssterminal-font-family, Consolas,monaco,monospace);
//$terminal-header-height: 3rem;
$terminal-header-height: hem(3);
$terminal-font-size: 1.8;

.terminal {
  font-family: $fontFamily;
  font-weight: 700;
  width: 100%;
  height: 100%;
  //border-radius: .5rem;
  border-radius: hem(.5);
  position: relative;
  //font-size: calc(#{$terminal-font-size}*1rem);
  font-size: calc(#{$terminal-font-size}*#{hem(1)});
  //box-shadow: 0 .5rem 2rem rgba(#000, .5);
  box-shadow: 0 hem(.5) hem(2) rgba(#000, .5);
  
  &__header {
    position: relative;
    width: calc(100% - 1px);
    height: $terminal-header-height;
    background-color: $terminal-header-background-color;
    //border-top-left-radius: .3rem;
    border-top-left-radius: hem(.3);
    //border-top-right-radius: .3rem;
    border-top-right-radius: hem(.3);
    border: .5px solid $border-color;
    border-bottom: 1px solid $border-color;
  }
  
  &__header-buttons {
    position: absolute;
    display: inline-block;
    height: 100%;
    min-width: hem(8);
    width: fit-content;
  }
  
  &__header-button {
    //width: 1.5rem;
    width: hem(1.5);
    //height: 1.5rem;
    height: hem(1.5);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 50%;
    border: .1px solid $border-color;
    
    &--close {
      background-color: $terminal-header-button-close;
      //transform: translate( 1rem, -50% );
      transform: translate( hem(1), -50% );
    }
    
    &--minimize {
      background-color: $terminal-header-button-minimize;
      //transform: translate( 3rem, -50% );
      transform: translate( hem(3), -50% );
    }
    
    &--maximize {
      background-color: $terminal-header-button-maximize;
      //transform: translate( 5rem, -50% );
      transform: translate( hem(5), -50% );
    }
  }
  
  &__content {
      background-color: $terminal-content-background-color;
      height: calc(100% - #{$terminal-header-height});//We remove the header height
      //border-bottom-left-radius: .3rem;
      border-bottom-left-radius: hem(.3);
      //border-bottom-right-radius: .3rem;
      border-bottom-right-radius: hem(.3);
      overflow: scroll;
      border-left: 0.5px solid $border-color;
  }
  
}